In [2]:
import pandas as pd

In [31]:
df = pd.read_json('crawler-ted-2020-07-17.bz2', compression='bz2', lines=True).fillna('').drop(columns=['document_id'])
df

,zh-tw,time,talk_id,vi,ko,id,zh-cn,ja,en
0,如果最短的距離是 100 英尺， 真的只是一個最短距離，,155192,42488,,,,,,
1,受陽光與空氣的滋養， 向天際茁壯成長。,174967,42488,và phát triển khi gặp ánh sáng và không khí.,빛과 공기를 쐬면서 꽃을 피우는 것 같죠.,,,,
2,他們創建了一個社區，,543014,42488,họ đã tạo ra một khu vực,한 지역 전체의 바닥층을,,,,
3,聯合國所有永續發展目標的城市，,575496,42488,,,,,,
4,可以漂浮的，,659511,42488,"tạo lực đẩy,",물에 뜰 수 있고요.,,,,
...,...,...,...,...,...,...,...,...,...
948511,,603085,41338,,,,（各种声音） （饼干）,,(Various sounds) (biscuit)
948512,,611219,41338,,,,观点的表达（饼干）。,,"at the heart of Tourette's syndrome. (biscuit,..."
948513,,634144,41338,,,,我要请你们享受并分享自我。（饼干）,,My invitation is to enjoy and share in mine. (...
948514,,661400,41338,,,,和混乱的魔力。,,and the alchemy of chaos.
948515,,668832,41338,,,,（饼干）,,

In [33]:
lang_list = ['zh-tw', 'vi', 'ko', 'id', 'zh-cn', 'ja', 'en']

In [62]:
lang_size = {}
for l in lang_list:
    for l2 in lang_list:
        if l not in lang_size:
            lang_size[l] = {}
            
        lang_size[l][l2] = '{:,}'.format(len(df[ (df[l] != '') & (df[l2] != '') ]))

In [64]:
pd.DataFrame(lang_size).fillna(0)

         zh-tw       vi       ko       id    zh-cn       ja       en
zh-tw  476,436  302,899  382,090  164,088  353,685  335,055  332,120
vi     302,899  404,054  303,642  147,523  284,980  282,232  260,150
ko     382,090  303,642  466,894  164,203  350,852  335,668  330,448
id     164,088  147,523  164,203  203,985  156,760  150,291  130,990
zh-cn  353,685  284,980  350,852  156,760  519,768  313,799  296,351
ja     335,055  282,232  335,668  150,291  313,799  447,960  297,716
en     332,120  260,150  330,448  130,990  296,351  297,716  418,059

In [28]:
df[ (df['ko'] != '') & (df['en'] != '') ][['ko', 'en']]

,ko,en
1679,그렇죠.,Yeah.
1681,숙녀분들 어서요.,"Come on, ladies."
1682,저는 15세 부터 20세 소녀들과 3년 동안 이야기했습니다.,I spent three years talking to girls ages 15 t...
1683,성관계에 대한 그들의 태도와 경험에 대해 말이죠.,about their attitudes and experience of sex.
1685,"""저는 똑똑하고 강한 여성의 집안에서 나왔습니다.","""I come from a long line of smart, strong women."
...,...,...
948446,그들은 모두 거의 똑같은 목록을 만들었습니다.,They all come out with very much the same list.
948447,물론 이상적인 세계에서라면 모든 걸 다 하고 싶겠지요.,"Of course, in an ideal world, again we'd love ..."
948448,저는 코펜하겐 컨센서스를 하나의 과정으로 봅니다.,I see the Copenhagen Consensus as a process.
948449,세계를 위한 올바른 길을 그려주십시오. 또한 정치적인 우선순위도 생각해주십시오.,Map out the right path for the world -- but al...
948450,"오늘 하루를 마감하면서, 여러분은 우리가 이런 문제들의 우선순위를 매기는 방식에 대...","At the end of the day, you can disagree with t..."

In [29]:
df[ (df['ko'] != '') ][['ko']]

                                                       ko
1                                빛과 공기를 쐬면서  꽃을 피우는 것 같죠.
2                                           한 지역 전체의 바닥층을
4                                             물에 뜰 수 있고요.
5                              태양광 발전 지붕이  놓여있다고 상상해 보세요.
6                                            그리고 바다 저 아래는
...                                                   ...
948446                          그들은 모두 거의 똑같은 목록을 만들었습니다.
948447                     물론 이상적인 세계에서라면 모든 걸 다 하고 싶겠지요.
948448                        저는 코펜하겐 컨센서스를 하나의 과정으로 봅니다.
948449       세계를 위한 올바른 길을 그려주십시오. 또한 정치적인 우선순위도 생각해주십시오.
948450  오늘 하루를 마감하면서, 여러분은 우리가 이런 문제들의 우선순위를 매기는 방식에 대...

[466894 rows x 1 columns]