# 설치 방법

```bash
python3 -m venv --copies venv  

source venv/bin/activate

pip3 install git+http://galadriel02.korea.ncsoft.corp/crawler-dev/corpus.git@dev

`which jupyter` notebook --ip 0.0.0.0 --port=8888
```

## corpus 라이브러리를 찾을 수 없는 경우: jupyter lab 으로 실행하는 경우 

```python
import sys

pkg_info = !pip3 show corpus
pkg_info = {l.split(':')[0]: l.split(': ')[1]  for l in pkg_info}

sys.path.append(pkg_info['Location'])

print([pkg_info, sys.path])
```

In [1]:
import json
import pandas as pd
from corpus.datasets import DataSets

# archived corpus

In [2]:
ds = DataSets()
meta = ds.pull_datasets_meta()

pd.DataFrame(meta).T

,name,desc,files,tags,path
youtube_mtd,youtube_mtd,유튜브 댓글,"[{'name': 'mtd.replies.json.bz2', 'count': 126...","[youtube, multilingual, reply, mtd]","{'local': 'youtube', 'remote': 'youtube'}"
daum_movie_reviews,daum_movie_reviews,다음 영화 리뷰,"[{'name': 'daum.reviews.json.bz2', 'count': 20...","[daum, movie_reviews]","{'local': 'movie_reviews', 'remote': 'movie_re..."
kbsec,kbsec,KB리서치 보고서,"[{'name': 'kbsec.reports.json.bz2', 'count': 4...","[stock, reports, kbsec]","{'local': 'kbsec', 'remote': 'kbsec'}"
naver_movie_reviews,naver_movie_reviews,네이버 영화 리뷰,"[{'name': 'naver.reviews.json.bz2', 'count': 7...","[naver, movie_reviews]","{'local': 'movie_reviews', 'remote': 'movie_re..."
facebook-stock,facebook-stock,페이스북 주식 채널/그룹,"[{'name': 'stock.posts.json.bz2', 'count': 219...","[facebook, stock, sns, reply]","{'local': 'facebook', 'remote': 'facebook'}"
youtube_bns,youtube_bns,유튜브 댓글,"[{'name': 'bns.replies.json.bz2', 'count': 401...","[youtube, games, bns, reply]","{'local': 'youtube', 'remote': 'youtube'}"
youtube_news,youtube_news,유튜브 댓글,"[{'name': 'news.replies.json.bz2', 'count': 27...","[youtube, news, reply]","{'local': 'youtube', 'remote': 'youtube'}"
facebook,facebook,페이스북 그룹,"[{'name': 'facebook.posts.json.bz2', 'count': ...","[facebook, reply, sns]","{'local': 'facebook', 'remote': 'facebook'}"

In [20]:
# columns
pd.DataFrame({x['name']: x['columns'] for x in meta['naver_movie_reviews']['files']}).fillna('-')

             naver.reviews.json.bz2 naver.movie_code.json.bz2
rating                         text                         -
movie_code                     text                      text
dislike                        text                         -
date                           text                      text
text                           text                         -
like                           text                         -
username                       text                         -
title                          text                      text
code                              -                      text
review_count                      -                    object
total                             -                    object

In [4]:
data = ds.load(
    meta=meta,
    name='naver_movie_reviews', 
    filename='naver.reviews.json.bz2', 
)
print(f'size: {len(data):,}')

read: data/datasets/movie_reviews/naver.reviews.json.bz2: 7880198it [02:04, 63087.64it/s]

size: 7,880,198

In [5]:
df = pd.DataFrame(data).fillna('')
df.head()

,rating,movie_code,dislike,date,text,like,username,title
0,1,193996,1,2020-06-11T00:29:00+09:00,미포린 이젠 막나가는구나,1,bai(bain****),108명의 여자와 섹스하는 방법 (108: REVENGE AND ADVENTURE ...
1,1,193996,1,2020-06-11T00:29:00+09:00,미포린 이젠 막나가는구나,1,bai(bain****),108명의 여자와 섹스하는 방법 (108: REVENGE AND ADVENTURE ...
2,6,194004,0,2020-07-30T14:20:00+09:00,공감성 수치를 불러일으키는 16세의 기억들,0,민경(jenn****),16세의 사운드트랙 (Soundtrack to Sixteen)
3,9,194004,2,2020-07-05T16:00:00+09:00,독일식 영어에 때묻지않은 이팔청춘에 조으네,1,초전동삼촌(whit****),16세의 사운드트랙 (Soundtrack to Sixteen)
4,9,194004,2,2020-07-02T21:03:00+09:00,저격당했다 내 취향도 내 과거도난 왜 이렇게 이 영화가 사랑스럽지ㅠ?하나부터 열까지...,1,ㅇㅇ(toal****),16세의 사운드트랙 (Soundtrack to Sixteen)

# elasticsearch corpus

In [6]:
es_meta = ds.pull_elasticsearch_meta()
pd.DataFrame(es_meta).T

,name,count,columns,location,path
crawler-bbs-game-bns-eng,crawler-bbs-game-bns-eng,18022,"{'articles': 'object', 'author': 'text', 'curl...",elasticsearch,{'local': 'elasticsearch'}
crawler-bbs-game-lineage-vi,crawler-bbs-game-lineage-vi,120663,"{'contents': 'text', 'curl_date': 'date', 'dat...",elasticsearch,{'local': 'elasticsearch'}
crawler-bbs-game-lineage2-eng,crawler-bbs-game-lineage2-eng,11016,"{'articles': 'object', 'author': 'text', 'cate...",elasticsearch,{'local': 'elasticsearch'}
crawler-bbs-game-lineagem-jap,crawler-bbs-game-lineagem-jap,23075,"{'author': 'text', 'content': 'text', 'curl_da...",elasticsearch,{'local': 'elasticsearch'}
crawler-bbs-inven,crawler-bbs-inven,7951,"{'@timestamp': 'date', 'article_id': 'text', '...",elasticsearch,{'local': 'elasticsearch'}
...,...,...,...,...,...
raw-zdnet-2021,raw-zdnet-2021,12,"{'@curl_date': 'date', 'category': 'keyword', ...",elasticsearch,{'local': 'elasticsearch'}
sample-dcinside-2021,sample-dcinside-2021,281888,"{'@curl_date': 'date', 'category': 'text', 'co...",elasticsearch,{'local': 'elasticsearch'}
temp_yhnews_tv_sports_2020,temp_yhnews_tv_sports_2020,867643,"{'CAP': 'text', 'CAT': 'text', 'CID': 'text', ...",elasticsearch,{'local': 'elasticsearch'}
test-economy-2021-02,test-economy-2021-02,62022,"{'@curl_date': 'date', '@timestamp': 'date', '...",elasticsearch,{'local': 'elasticsearch'}
yh_economy_search_test,yh_economy_search_test,67646,"{'contents': 'text', 'id': 'keyword', 'raw': '...",elasticsearch,{'local': 'elasticsearch'}

In [15]:
# columns

pd.DataFrame([es_meta['crawler-naver-economy-2021']['columns']]).T

                      0
@curl_date         date
@curl_list         date
@timestamp         date
category           text
content            text
contents           text
curl_date          date
date               date
document_id        text
html               text
html_content       text
image_list       object
paper              text
parser_version     text
parsing_error   boolean
raw                text
raw_html           text
raw_list           text
source             text
source_section     text
source_url         text
status             text
title              text
url                text
vod                text

In [8]:
# data loading

data = ds.load(
    meta=es_meta,
    name='crawler-naver-economy-2021', 
    source='category,title,date,content'.split(','), 
    use_cache=True,
)
print(f'size: {len(data):,}')

downloading: crawler-naver-economy-2021: 100%|██████████| 333877/333877 [06:16<00:00, 886.20it/s]
read: data/datasets/elasticsearch/crawler-naver-economy-2021.bz2: 333877it [00:36, 9223.82it/s]

size: 333,877

In [9]:
df = pd.DataFrame(data)
df.head()

,_id,_index,category,content,date,title
0,055-0000876068,crawler-naver-economy-2021,경제/경제 일반,작년부터 주가 상승을 이끌어온 '동학개미'들의 순매수가 이달 들어 눈에 띄게 줄어들...,2021-02-21T09:21:00+09:00,1월에 26조 쓸어 담은 동학개미 2월엔 6조 '주춤'
1,277-0004851328,crawler-naver-economy-2021,경제/경제 일반,[아시아경제 이승진 기자] 아파트 단지 내 전기차 충전시설 등 모든 전기차 충전구역...,2021-02-21T09:18:00+09:00,"아파트 전기차 충전시설에 주차, 앞으로 과태료 물린다"
2,277-0004851332,crawler-naver-economy-2021,경제/경제 일반,[세종=아시아경제 김현정 기자] 금융권 채용비리의 재발 방지를 위해 업무 관련성이 ...,2021-02-21T09:20:00+09:00,"금융권 채용비리자, 공제회·비영리법인 등 재취업도 제재 추진"
3,277-0004851275,crawler-naver-economy-2021,경제/부동산,신규택지 이르면 이달말 1차 공개\n도심 공공개발 후보지도 7월 발표\n역대급 물량...,2021-02-20T22:02:51.087236+09:00,'신규택지·도심개발' 윤곽 나오면 집값 잡힐까…2·4대책 동상이몽
4,057-0001550882,crawler-naver-economy-2021,경제/부동산,동영상 뉴스\n\t\t\n\t\n\n\n\n\t\n\t【 앵커멘트 】\n 경북 경주...,2021-02-20T21:02:51.088159+09:00,경주 앞바다 전복 어선 실종 6명 발견 못 해…부산 침몰 선원은 구조